.gradle
**/build/
!src/**/build/
dist/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
.idea/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

out/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store