<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="ConsoleLogger" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false" pattern="%highlight{%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n}{INFO=default}" />
        </Console>

        <RollingRandomAccessFile name="FileLogger" fileName="${sys:teslauncher.workDir}/logs/teslauncher.log"
                                 filePattern="${sys:teslauncher.workDir}/logs/$${date:MM-yyyy}/app-%d{dd-MM-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" charset="866" />
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <!-- avoid duplicated logs with additivity=false -->
        <Logger name="me.theentropyshard.teslauncher" level="debug" additivity="false">
            <AppenderRef ref="ConsoleLogger"/>
            <AppenderRef ref="FileLogger"/>
        </Logger>

        <Root/>
    </Loggers>
</Configuration>